<?xml version="1.0" encoding="UTF-8"?>
<assembly xmlns="http://maven.apache.org/ASSEMBLY/2.2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/2.2.0 https://maven.apache.org/xsd/assembly-2.2.0.xsd">
    <id>server</id><formats><format>tar.gz</format></formats><includeBaseDirectory>true</includeBaseDirectory><baseDirectory>att-${project.version}-server</baseDirectory>
    <files>
        <file><source>${project.basedir}/../att-server/target/att-server-${project.version}.war</source><outputDirectory>server</outputDirectory><destName>att-server-${project.version}.war</destName><fileMode>0644</fileMode></file>
        <file><source>${project.basedir}/../README.md</source><outputDirectory>/</outputDirectory><destName>README.md</destName><fileMode>0644</fileMode></file>
        <file><source>${project.basedir}/src/release/server/RELEASE_MANIFEST.txt</source><outputDirectory>/</outputDirectory><destName>RELEASE_MANIFEST.txt</destName><fileMode>0644</fileMode><filtered>true</filtered></file>
        <file><source>${project.basedir}/../docs/server-deployment.md</source><outputDirectory>docs</outputDirectory><destName>server-deployment.md</destName><fileMode>0644</fileMode></file>
        <file><source>${project.basedir}/../docs/server-deployment.zh.md</source><outputDirectory>docs</outputDirectory><destName>server-deployment.zh.md</destName><fileMode>0644</fileMode></file>
        <file><source>${project.basedir}/../docs/att-server-web-ui.md</source><outputDirectory>docs</outputDirectory><destName>att-server-web-ui.md</destName><fileMode>0644</fileMode></file>
        <file><source>${project.basedir}/../docs/att-server-web-ui.zh.md</source><outputDirectory>docs</outputDirectory><destName>att-server-web-ui.zh.md</destName><fileMode>0644</fileMode></file>
    </files>
</assembly>
